spring.application.name=authentication
#spring.config.import=classpath:database.properties

spring.datasource.url=jdbc:postgresql://localhost:5665/user_authorization
spring.datasource.username=postgres
spring.datasource.password=postgres
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

server.port=8082

management.endpoints.web.exposure.include=*
spring.boot.admin.client.url=http://localhost:8084/
spring.boot.admin.client.instance.management-url=http://localhost:8082/actuator
spring.boot.admin.client.instance.service-url=http://localhost:8082/
spring.boot.admin.client.instance.health-url=http://localhost:8082/actuator/health

security.jwt.secret-key=""
security.jwt.expiration-time=300000